.body-content {
  margin: 100px;
  width: 80%;
  padding: 10px;
}
.brand-name {
  font-size: 30px;
  font-weight: 700;
}

.heading-body {
  margin: 40px;
  font-weight: 700;
  font-size: 75px;
  line-height: 60px;
}

.heading-para {
  margin: 40px;
  font-size: 15px;
  color: hsl(0, 0%, 41%);
}

.learn-more {
  margin: 25px 40px;
  font-size: 15px;
  border-color: aliceblue;
  border-radius: 20px;
  background-color: black;
  color: aliceblue;
  height: 35px;
  box-shadow: none;
}

.div-btn {
  padding-bottom: 30px;
}

.image-box {
  padding-top: 50px;
  padding-bottom: 50px;
}

.svg-div {
  padding-left: 34px;
}

@media screen and (max-width: 600px) {
  .heading-body {
    font-weight: 700;
    font-size: 50px;
    line-height: 39px;
    margin: 20px;
  }
  .body-content {
    margin: 20px;
    width: 80%;
  }
  .heading-para {
    margin: 20px;
    font-size: 20px;
    color: hsl(0, 0%, 41%);
  }
  .learn-more {
    margin: 10px 20px;
    font-size: 15px;
    border-color: aliceblue;
    border-radius: 20px;
    background-color: black;
    color: aliceblue;
    height: 35px;
    box-shadow: none;
  }
}
